/* Общие стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Секция с фоном */
.mainView {
    height: 100vh; /* Занимает 100% высоты экрана */
    background-image:  url('../images/border.png'), url('../images/backgound.jpg');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.mainViewContent {
    color: white;
}

.mainViewContent nav a {
    display: inline-block; /* Делаем элемент блочным для применения отступов и фона */
    padding: 10px 20px; /* Отступы внутри кнопки */
    color: white; /* Цвет текста */
    background-color: green; /* Цвет фона */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход для изменения цвета */
}

.mainViewContent nav a:hover {
    background-color: darkgreen; /* Изменяем цвет фона при наведении */
}
/* Стили для шапки (header) */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 2;
    padding: 32px 0; /* Отступы сверху и снизу */
    display: flex;
    justify-content: space-between; /* Лого слева, меню посередине */
    align-items: center; /* Выравнивание по вертикали */
    text-align: center;
}

.logo {
    margin-left: 48px; /* отступ  */
}

.logo img {
    max-width: 48px; /* Размер лого */
    height: auto; /* Сохраняем пропорции */
}

.nav-menu {
 
    display: flex;
    justify-content: right; /* Центрирование элементов меню */
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 16px;
    margin: 0 16px; /* Пространство между элементами меню */
    font-size: 16px;
}

.header nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Эффект при наведении */
}
/* Стили для секций после прокрутки */
section {
    padding: 50px;
    text-align: center;
}

#section1 {
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 960px;
    margin: 0 auto; /* Центрирование */
    padding: 0 15px; 
    text-align: left;
}

.merge {
    text-align: center;
}

#section2 {
    background-color: rgba(0, 88, 83, 0.1);
    max-width: 960px;
    margin: 0 auto; /* Центрирование */
    padding: 0 15px; 
}

/* Класс для блочного лейбла */
.block-label {
    display: block;
    margin-bottom: 10px; /* Отступ между лейблом и элементом */
}

/* Дополнительные стили для select */
select {
    width: 200px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    text-align: center;
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    margin: 5px 0; /* Отступ между кнопками */
    border: none;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.button:hover {
    background-color: #45a049; /* Цвет при наведении */
}

#registration-form {
    text-align: left;
}
/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
    
}

thead th {
    background-color: #3a5041;
    color: white;
    padding: 10px;
    text-align: left;
    border: 2px solid #3686cc;

}

thead tr {
    background-color: #3686cc;

}
tbody td {
    padding: 10px;
    border: 2px solid #3686cc;
}

tbody .odd {
    background-color: #f9f9f9;
}

tbody .even {
    background-color: #e9e9e9;
}

/* Подвал */
#site-footer {
    background-color: rgba(0, 88, 83, 0.1);
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    padding-left: 20px;
    text-align: left; /* Выравнивание текста по левому краю */

}

#dolgi {
        background-color: rgba(0, 88, 83, 0.1);
        max-width: 960px;
        margin: 0 auto; /* Центрирование */
        padding: 0 15px;
        text-align: left;
}